<div class='row'>
  <h1>Welcome to brewjudge.io, <%= name %>!</h1>
</div>
<div class='row'>
  <div class='col-sm-6 js-beer-search'>
  </div>
  <div class='col-sm-6'>
    <h2>Taste list</h2>
  </div>
</div>
